.scrolled,
.alt-nav,
.navwhite {
  box-shadow: none;
}

.nav-icon .line1,
.white-nav-icon .line1,
.blue-nav-icon .line1,
.nav-icon .line2,
.white-nav-icon .line2,
.blue-nav-icon .line2,
.nav-icon .line3,
.white-nav-icon .line3,
.blue-nav-icon .line3,
.nav-icon .signin-modal .closeslide .line2,
.signin-modal .closeslide .nav-icon .line2,
.white-nav-icon .signin-modal .closeslide .line2,
.signin-modal .closeslide .white-nav-icon .line2,
.blue-nav-icon .signin-modal .closeslide .line2,
.signin-modal .closeslide .blue-nav-icon .line2,
.nav-icon .register .closeslide .line2,
.register .closeslide .nav-icon .line2,
.white-nav-icon .register .closeslide .line2,
.register .closeslide .white-nav-icon .line2,
.blue-nav-icon .register .closeslide .line2,
.register .closeslide .blue-nav-icon .line2 {
  /* background: #144499 !important; */
}

.mainheroholder {
  /* background-image: url(/../storage.googleapis.com/piggybankservice.appspot.com/statics/woman-header-min.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding-bottom: 130px;
}
.main-header {
  width: 100%;
  padding-bottom: 0px;
  /* background: none; */
  /* background-color: none; */
  /* background-blend-mode: multiply; */
  -webkit-clip-path: none;
  clip-path: none;
  background-size: cover;
  /* color: #144499; */
  position: relative;
  overflow: hidden;
  z-index: 500;
}

.container {
  /*width: 1280px;*/
}

.minicontainer {
}

.bluecolor {
  color: #144499;
}

.bold {
  font-weight: bold;
}

.ashcolor {
  color: #444;
}

.intro-text h1 {
  font-size: 50px;
  line-height: 58px;
}

.cards-icon {
  height: 25px;
  display: block;
  margin-top: 50px;
}

.grayback {
  background: #fbfbfb;
}

.rightimage {
  position: absolute;
  height: calc(644.67px);
  right: -20px;
  top: 100px;
  text-align: center;
  -webkit-transform: rotate(10deg);
  transform: rotate(0deg);
  transition: all 300ms ease-in-out;
  z-index: 600;
}

.rightimage img {
  width: 100%;
}

.securealertbox {
  display: table;
  text-align: left;
  max-width: 700px;
}

.securealertbox > div {
  display: table-cell;
  vertical-align: middle;
}

.securealertbox > .imagepart {
  width: 100px;
}

.securealertbox > .imagepart > img {
  width: 100%;
}

.securealertbox > .textpart {
  padding-left: 30px;
}

.securealertbox .textheader {
  font-size: 24px;
  margin-bottom: 5px;
}

.securealertbox .textinfo {
  font-size: 14px;
}

.why_p_box {
  display: table;
  margin: 60px 0px;
}

.why_p_box > div {
  display: table-cell;
  vertical-align: middle;
}

.why_p_box > div {
  display: table-cell;
}

.why_p_box > div:first-child {
  width: 70%;
  padding-right: 30px;
}

.why_p_box > div:last-child img {
  width: 100%;
}

.pointspart {
  text-align: left;
  margin-bottom: 50px;
}

.pheader {
  font-size: 18px;
  margin-bottom: 5px;
}

.pheader .fa {
  margin-right: 10px;
}

.pinfo {
  font-size: 14px;
}

.piconenabled .pinfo {
  margin-left: 34px;
}

.piconenabled .pheader .fa {
  display: inline-block;
  margin-right: 10px;
}

.feature-text {
  margin-top: 15%;
}

.featuremonth-text {
  margin-top: 50px;
}

.feature-text h2 {
  font-size: 30px;
}

.feature-text p {
  font-size: 16px;
  line-height: 30px;
  color: #444;
}

.feature .feature-image img {
  width: 100%;
  box-shadow: none;
}

.howtostart h3 {
  font-size: 20px;
}

.stories {
  background-image: none;
}

.spaceout {
  padding: 100px 0px;
}

.partners_image {
  width: 90%;
  max-width: 900px;
}

._outfeature_box {
  background: #fbfbfb;
  margin: 5px;
  padding: 30px 10px;
}

._outfeature_box img {
  width: 100%;
}

._outfeature_box h3 {
  font-size: 18px;
  font-weight: 100;
}

._outfeature_box p {
  font-size: 14px;
  line-height: 22px;
  color: #444;
}

.savingsfeature {
  background-color: #f8faff;
}

.investfeature {
  background-color: #fbf8ff;
}

.investfeature h3 {
  color: #674498;
}

.investcontent h1 {
  color: #674498;
}

@media (max-width: 600px) {
  ._mobilecenter {
    text-align: center;
    margin-top: 50px;
  }

  .mainheroholder {
    background-image: none;
    padding-bottom: 50px;
    text-align: left;
  }

  .intro-text h1 {
    font-size: 30px;
    line-height: 48px;
  }

  .feature-text h2 {
    font-size: 18px;
  }

  .feature-text p {
    font-size: 12px;
    line-height: 22px;
  }

  .securealertbox .textheader {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .securealertbox .textinfo {
    font-size: 11px;
    line-height: 18px;
  }

  .feature .feature-text {
    text-align: left;
  }

  .featuremonth-text {
    text-align: center !important;
  }
}


body {
  font-family: 'Varela Round', sans-serif;
}


@media (max-width: 600px) {
  .page-content section {
    padding: 10px;
  }
  .page-content .card {
    padding: 10px;
  }
}