.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
  
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  select.inputcontrol{
    height: 55px;
    background-color: #fff;
  }
  
  
  .tinytext {
      font-size: 11px;
      color: #777;
      font-style: italic;
      max-width: 400px;
      line-height: 16px;
  }
  
  
  .boldtext{
    font-weight: bold;
  }
  
  
  .desktopforce{
    display: block;
  }
  
  
  .fornheadertext h1 {
    font-size: 35px;
    line-height: 45px;
  }
  
  
  .onboardingimg img{
    max-width: 400px;
    width: 90%;
  }
  
  
  .progresscontainer {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  
  .progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  }
  
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .text-center {
    text-align: center;
  }
  
  .center{
    text-align: center;
  }
  
  .mainactionbutton_darkholder {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px; 
    border: 1px dashed #e2e0e0;
  }
  
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .col-xs-6 {
    width: 50%;
  }
  
  .col-xs-4 {
    width: 33.3%;
  }
  
  .col-xs-3 {
    width: 25%;
  }
  
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  
  
  .bs-wizard {margin-top: 70px;}
  
  
  .bs-wizard:after{
    content: " ";
    display: block;
  }
  
  /*Form Wizard*/
  .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
  .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
  .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
  .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #144499; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 10px; height: 10px; background: #ffffff; border-radius: 50px; position: absolute; top: 10px; left: 10px; } 
  
  .bs-wizard > .complete > .bs-wizard-dot:after {background: #144499 !important; } 
  .bs-wizard > .complete > .bs-wizard-dot {background: #144499 !important; } 
  
  .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
  .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #144499;}
  .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
  .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
  .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
  .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
  .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
  .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
  .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
  .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
  
  
  
  @media (max-width: 600px) {
    .fornheadertext h1 {
      font-size: 22px;
      line-height: 30px;
    }
  
    .desktopforce{
      display: inline;
    }
  
    .bs-wizard {
      margin-top: 65px;
    }
  
    .bs-wizard > .bs-wizard-step > .progress { 
      height: 3px; 
    }
  
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum { 
      font-size: 12px;
    }
  
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
      position: absolute;
      width: 15px;
      height: 15px; 
      top: 52px; 
      left: 55%;
      margin-top: -15px;
      margin-left: -15px; 
    }
  
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after { 
      width: 3px;
      height: 3px; 
      top: 6px;
      left: 6px;
    }
  
    .bs-wizard > .bs-wizard-step .bs-wizard-info { 
      font-size: 11px;
    }
  
  }

  @media (max-width: 600px) {
    .page-content section {
      padding: 10px;
    }
    .page-content .card {
      padding: 10px;
    }
  }

  body {
    font-family: 'Varela Round', sans-serif;
  }